

.item {
  margin-left: 70px;
  width: 750px;
}

.bg {
  background-color: #D55748;
  height: 6px;
  align-items: center;
}

.content {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}