
.links {

  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #000;
  display: flex;
}

.links_text{
  margin-left: 15px;
}

.postphoto {
  display: block;
  color: #C5C5C5;
  padding: 15px 20px;
  background-color: #E4E4E4;
  text-align: center;
  margin-left: 15px;
}

.postjob {
  margin-left: 15px;
  color: #fff;
  padding: 15px 20px;
  background-color: #D55748;
}

textarea::placeholder {

  padding-left: 10px;
  padding-top: 12px;
  margin: 0 auto;
}